html {
  height: 100%;
  width: 100%;
}
body {
  background: transparent url(../img/space.gif) 0 0 repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  /*-webkit-animation: running 3s infinite linear;*/

}
#intro {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#intro #copyright {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9px 0 0 0;
  bottom: 0;
  color: white;
  font-family: monospace;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.1;
  padding: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 1px 0 black;
}
#intro img {
  position: absolute;
  max-width: 50%;
  max-height: 100%;
  right: 0;
  margin: 0;
}
#intro #menu {
  position: absolute;
  width: 50%;
  height: 80%;
  left: 0;
  margin: 10% 0;
}
#intro .btn {
  -moz-border-radius: 6px;
  -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background-color: #3d94f6;
  background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  border-radius: 6px;
  border: 1px solid #337fed;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  color: white;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  font-family: arial;
  font-size: 28px;
  font-weight: bold;
  height: 20%;
  margin: 0 10% 5% 10%;
  text-decoration: none;
  text-shadow: 1px 1px 0px #1570cd;
  width: 80%;
}
#intro .btn:hover {
  background-color: #1e62d0;
  background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
}
#intro .btn:active {
  position: relative;
  top: 1px;
}
#screen {
  height: 100%;
  margin: 0 2%;
  overflow: hidden;
  position: relative;
  width: 96%;
  display: none;
}
#screen #info {
  position: absolute;
  color: #ddd;
  right: 3px;
  top: 3px;
  font-family: monospace;
  font-size: small;
}
#screen #bugs {
  position: absolute;
  height: 100%;
}
#screen #bugs .bug {
  width: 5%;
  height: 5%;
  margin: 2.5%;
}
#screen #ship {
  width: 5%;
  height: 5%;
  background-color: lime;
  position: absolute;
  bottom: 0;
  border-radius: 25px 25px 0 0;
}
#screen .shell {
  width: 0.25%;
  min-width: 2px;
  height: 2%;
  position: absolute;
  background-color: red;
  border-radius: 50% 50% 5% 5%;
}
@media (orientation: portrait) {
  #intro img {
    left: 0px;
    margin: 0 auto;
    max-height: 60%;
    max-width: 90%;
    right: 0px;
    top: 0px;
  }
  #intro #menu {
    bottom: 0px;
    height: 40%;
    left: 0px;
    margin: 0;
    right: 0px;
    width: 100%;
  }
  #intro .btn {
    margin: 2.5% 10%;
  }
}
