<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0">

  <author href="http://www.facebook.com/aleksandrsolovey"
          rim:copyright="">Aleksandr Solovey</author>

  <name>Radial Snake</name>

  <description>
    This snake can crawl at 360 degrees!
    Enjoy this radial snake game, a new twist on the original arcade classic.
  </description>

 <!--  <rim:orientation mode="landscape"/> -->

  <rim:category name="games"/>

  <content src="index.html" />

  <icon src="icon-150.png"/>

  <feature id="blackberry.app">
    <param name="backgroundColor" value="0x00000000" />
  </feature>

</widget>

<!--
  <?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="sampleapp">

  <author href="http://www.facebook.com/aleksandrsolovey"
          rim:copyright="">Aleksandr Solovey</author>

  <name>Radial Snake</name>

  <description>
    This snake can crawl at 360 degrees!
    Enjoy this radial snake game, a new twist on the original arcade classic.
  </description>


  <icon src="icon-150.png"/>

  <content src="index.html" rim:allowInvokeParams="true"/>


  <feature id="blackberry.app.orientation">
    <param name="mode" value="portrait" />
  </feature>

  <feature id="blackberry.app">
    <param name="backgroundColor" value="0x00000000" />
  </feature>


</widget>
-->